%page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
  @media only screen and (max-width: 700px) {
    padding: 0 0 10vh 0;
  }

  .primary {
    &-polygon {
      fill: var(--rdp-theme-primary);
    }

    &-stop {
      stop-color: var(--rdp-theme-primary);
    }
  }

  .secondary-polygon {
    fill: var(--rdp-theme-secondary);
  }
}
