@import "./common.scss";

.rdp-button {
  background-color: var(--rdp-theme-primary);
  @extend %button-base;
  color: var(--rdp-theme-text-on-primary);
  position: relative;
  border: 2px outset var(--rdp-theme-primary);

  &:active {
    border-style: inset;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    @extend %button-base;
  }

  &:hover {
    &::before {
      background: rgba(255, 255, 255, 0.4);
    }
  }
}
