@import "./common.scss";

.theme-header {
  @include primary-background;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1vh 2vw;

  .theme-header__title {
    margin: 0;
    flex-grow: 1;

    &:not(:first-child) {
      margin-left: 1vw;
    }

    .theme-header__title-content {
      color: inherit;
    }
  }

  .theme-header__actions {
    display: flex;
    flex-flow: row wrap;
    max-width: 35%;
  }

  .theme-header__action-button {
    @extend %button-base;
    @extend %transparent-button;
  }
}
