@import "./section.scss";

.rdp-joined-content {
  $self: &;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  background: rgb(220, 220, 220);
  max-width: 1024px;
  isolation: isolate;

  &__raised-wrapper {
    position: relative;
    flex-grow: 1;
    padding-right: 10%;
  }

  &__base {
    flex-basis: 50%;
  }

  .rdp-section--flat#{$self}__base {
    border: none;
    border-radius: 0px;
  }

  #{$self}__raised {
    position: relative;
    min-height: 100%;

    &::after {
      content: "";
      z-index: -10;
      @extend .rdp-section--raised;
      position: absolute;
      top: -20px;
      right: 0;
      bottom: -20px;
      left: 0;
      background: white;
    }
  }
}
