@mixin section-box {
  padding: 2vh 5vw;
  border-radius: 10px;
  border: 1px solid rgb(128, 128, 128);
}

@mixin section-shadow {
  box-shadow: 3px 4px 9px 4px rgba(0, 0, 0, 0.4);
}

.rdp-section {
  $self: &;

  @include section-box &--raised {
    @extend #{$self};
    @include section-shadow;
    border-color: rgba(0, 0, 0, 0);
  }

  &--flat {
    @extend #{$self};
  }
}

.rdp-section-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10vh 10vw;

  [class^="rdp-section"] {
    margin: 20px;
    transition: box-shadow 150ms ease-in;
  }
}
