@import "./common.scss";

.theme-splash {
  @include primary-background;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 25vh;

  &.theme-splash__left {
    align-items: flex-start;
  }

  &.theme-splash__right {
    align-items: flex-end;
  }

  &.theme-splash__centre {
    align-items: center;
  }

  .theme-splash--title {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 2;

    .theme-splash--title-header {
      font-size: 4rem;
      margin-top: 0;
      margin-bottom: 2vh;
    }

    .theme-splash--title-sub-header {
      font-size: 1.3rem;
      margin: 0;

      &.theme-splash--title-sub-header__right {
        align-self: end;
      }
    }
  }
  .theme-splash--actions {
    flex-grow: 1;
    &.theme-splash--actions__left {
      align-self: flex-start;
    }

    &.theme-splash--actions__right {
      align-self: flex-end;
    }

    &.theme-splash--actions__centre {
      align-self: center;
    }

    .theme-splash--action-button {
      @extend %button-base;
      @extend %transparent-button;
      border: 2px solid var(--theme-text-on-primary);
      text-decoration: none;

      &:not(:first-child) {
        margin-left: 2vw;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .theme-splash {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
