@import "./common.scss";

.theme-splash {
  @include primary-background;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  &.theme-splash__left {
    justify-content: flex-start;
  }

  &.theme-splash__right {
    justify-content: flex-end;
  }

  .theme-splash--title {
    display: flex;
    flex-flow: column nowrap;

    .theme-splash--title-header {
      font-size: 4rem;
      margin-top: 0;
      margin-bottom: 2vh;
    }

    .theme-splash--title-sub-header {
      font-size: 1.3rem;
      margin: 0;

      &.theme-splash--title-sub-header__right {
        align-self: end;
      }
    }
  }
}
