@import "../common/styles.scss";

.gj-home {
  @extend %page-content;

  &__about {
    flex-basis: 60%;

    &__article-svg {
      float: left;
      margin-right: 15px;
    }

    &__speak-svg {
      float: right;
    }
  }

  &__links {
    flex-basis: min-content;
  }
}
