@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Cutive Mono", monospace;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}
